<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pacientes Cadastrados</title>
</head>
<body>

    <h1>🐱 Nica</h1>

    <h2>Pacientes Cadastrados</h2>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Nascimento</th>
        </tr>

        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
            <td>{{ paciente[2] }}</td>
            <td>{{ paciente[3] }}</td>
            <td>{{ paciente[4] }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>

    <a href="/pacientes">Cadastrar Novo Paciente</a>

</body>
</html>